body{
    margin: auto;
    font-family: 'Gamja Flower', cursive;  
}


header {
font-family: 'Chelsea Market', cursive;
background-color: #e4572e;
text-align: center;

}

header h2 {
    color: white;
    font-size: 13px;
    margin-bottom: 5px;
}

header h1 {
    margin-top: 0px;
    text-shadow: 2px 2px 0 #f7f4f2;

}


p .button {
    border: 4px 5px solid #050401;
    box-shadow: 3px 3px 0 0 #e4572e;
    background-color: black;
    color: white;
    padding: 10px 200px 10px 200px;
    margin-left: 30%;
    margin-bottom: 40px;
    text-decoration: none;
    font-family: 'Gamja Flower', cursive;

}


body .button {
    text-align: center;
}

article {

    border: 4px solid #050401;
    box-shadow: 3px 3px 0 0 #e4572e; 
    text-align: left;
    margin-bottom: 10px;
    margin-right: 20%;
    margin-left: 20%;
    padding-bottom: 60px;
    padding-right: 30px;
}

img {
    float: right;
}

main article h2, p{
    margin-bottom: 2px;
    margin-top: .1em;
}

hr {
    margin-top: 30px;
}

footer h2 {
    text-align: center;
    margin-bottom: 0px;

}

footer {
    text-align: center;
}

footer p {
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: bold;
}

body, main {
    background-color: #fffff2;
}

form p {
     
     display: inline-block;
     border: .5px solid;
     box-shadow: 3px 3px #e4572e;
     margin-right: 10px;
    
 }


